.index-desktop4 {
  width: 100%;
  height: 1093px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.index-group36 {
  top: 0px;
  left: 0px;
  width: 1418px;
  height: 1093px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.index-group35 {
  top: 0px;
  left: 0px;
  width: 1418px;
  height: 1093px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.index-group9 {
  top: 0px;
  left: 0px;
  width: 1418px;
  height: 1093px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.index-home-page {
  top: 0px;
  left: 0px;
  width: 1418px;
  height: 1093px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(0, 0, 0, 1);
}
.index-frame1 {
  top: 21px;
  left: 28px;
  width: 1390px;
  height: 1083px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 20px;
  background-image: linear-gradient(180deg, rgba(209, 72, 54, 1) 0%, rgba(209, 72, 54, 0) 100%);
}
.index-frame2 {
  top: 61px;
  left: 34px;
  width: 1133px;
  height: 765px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 1);
}
.index-image1 {
  left: -67px;
  width: 1163px;
  bottom: -16px;
  height: 765px;
  position: absolute;
  border-color: transparent;
}
.index-frame14 {
  top: 356px;
  left: 678px;
  width: 439px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.index-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 80px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lancelot;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-frame12 {
  top: 124px;
  left: 45px;
  width: 488px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.index-text2 {
  color: rgba(255, 255, 255, 1);
  width: 468px;
  height: auto;
  font-size: 140px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Lancelot;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-frame13 {
  top: 75px;
  left: 701px;
  width: 389px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.index-text4 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 80px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lancelot;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-frame15 {
  top: 549px;
  left: 119px;
  width: 488px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.index-text6 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 80px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lancelot;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
@media(max-width: 479px) {
  .index-frame2 {
    width: 100%;
    height: 100%;
  }
  .index-image1 {
    width: 100%;
    height: 100%;
  }
}
